[user]
	name = poximy
	email = 76846708+poximy@users.noreply.github.com
[color]
	ui = auto
[core]
	editor = code --wait
	autocrlf = input
[init]
	defaultBranch = main
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[alias]
	# Staging
	s = status -s

	# log
	og = log --oneline --graph
	last = log -1 HEAD --stat

	# branch
	del = branch -D

	# misc
	undo = reset --soft HEAD^
