[user]
	name = poximy
	email = 76846708+poximy@users.noreply.github.com
[color]
	ui = auto
[core]
	editor = nvim
	autocrlf = input
[init]
	defaultBranch = main
[alias]
	og = log --oneline --graph
	undo = reset --soft HEAD^
